
p.header {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.jumbotron h1{
  font-family: "Reenie Beanie";
  font-size: 85px;
  font-weight: bold;
}

.jumbotron h2{
  font-family: "Reenie Beanie";
  font-size: 50px;
  font-weight: bold;
  color: red;
}

.navbar .navbar-brand{
  font-family: "Reenie Beanie";
  font-size: 35px;
  font-weight: bold;
  color: red;
}

#Origins-Title {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
